@font-face {
    font-family: 'cursive';
    src: url("fonts/alex-brush/AlexBrush-Regular.ttf")
}

body {margin: 0;}

.aboutme {
    background-image: url(backgrounds/roadBgEdited.jpg);
    background-position: right;
    background-size: cover;
    background-color: #222;
    color: floralwhite;
    padding-bottom: 5%;
    padding-left:5%;
}

.aboutmeTitle {
    margin:0;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%
}
.aboutme h1{
    font-family: 'cursive';
    font-size: 50px;
}

.personalPhoto {
    display: block;
    
}

.interests {
    list-style: circle;
}
/*
--------------------------------------
*/
.bookstore {
    background-color: darkslategray;
    text-align: center;
    color: floralwhite;
    font-family: Arial;
}

table, td{
    border: 1px solid floralwhite;
    border-collapse: collapse;
    padding: 3px;
}

th {
    border: 1px solid floralwhite;
    border-collapse: collapse;
    padding: 10px
}

table.center {margin-left:auto; margin-right: auto;}