@font-face {
    font-family: 'cursive';
    src: url("fonts/alex-brush/AlexBrush-Regular.ttf")
}
/*
--------------------------------------
THE MAINPAGE
*/
body {margin: 0; background-color: #000000;}

.aboutme {
    background-image: url(backgrounds/roadBgEdited.jpg);
    background-position: right;
    background-size: cover;
    background-color: #222;
    color: floralwhite;
    padding-bottom: 5%;
    padding-left:5%;
}

.aboutmeTitle {
    font-family: 'cursive';
    font-size: 50px;
    margin:0;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%
}

.personalPhoto {
    display: block;
    padding-bottom: 2.5%
    
}

.interests {
    padding-top: 8px;
    margin:0;
    font-family: Arial;
    font-size: 20px;
    
}

.technologies {
    display: flex;
    justify-content: flex-start;
    padding-top: 8px;
    gap: 16px;
    font-size:initial;
}

.techLogos {
    width: 16px;
    padding-right: 8px;
}

.projectTitle {
    font-family: Arial;
    text-align: center;
}

.bookStoreProject {
    color: white;
    text-align: center;
}
/*
--------------------------------------
THE BOOKSTORE
*/
.bookstore {
    background-color: darkslategray;
    text-align: center;
    color: floralwhite;
    font-family: Arial;
}

table, td{
    border: 1px solid floralwhite;
    border-collapse: collapse;
    padding: 3px;
}

th {
    border: 1px solid floralwhite;
    border-collapse: collapse;
    padding: 10px
}

table.center {margin-left:auto; margin-right: auto;}
/*
--------------------------------------
THE SNAKE GAME
*/
.snakeBody {
    background-color: rgb(231, 239, 146);
}

.headers {
    font-family: Arial;
    text-align:center;
    color:rgb(101, 175, 221)
}

.game {
    background-color: #3a342f;
    aspect-ratio: 5/3;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    border-color: #3a342f;
    border-style: solid;
    border-width: 5%;
    border-radius: 1%
}

.boxes {
    background-color: #4e463f;
    aspect-ratio: 1/1;
    /* 35 (squares) + [70 (margins)(2 for each square) * 0.05 (5% the size of the square) = 38.5] */
    width: calc(100%/38.5);
    margin: calc(100%/770);
    border-radius: 10%;
}

.play {
    text-align: center;
    margin-top: 8px;

}

.gameDialogue {
    text-align: center;
    font-family: Arial;
    color:#4e463f;
    padding-top: 1%;
}


/* .test{
    background-color:azure;
    aspect-ratio: 2/1;
    width: 50%;
} */